@import 'bulma';
@import '~bulma-extensions/bulma-tooltip/dist/css/bulma-tooltip.min.css';

.tag {
  margin: 0.1em;
}

.capitalize {
  text-transform: capitalize
}

.is-horizontal-center {
  justify-content: center;
}
.sprite-card {
  border: 1px solid #CCD1D1; 
  border-radius: 100%;
  margin: 0.5em;
  transition: transform .7s;
}

.shiny-sprite {
  display: none;
}

.sprite-card:hover {
  transform: scale(1.2);
}
.sprite-card:hover > .default-sprite {
  display: none;
}
.sprite-card:hover > .shiny-sprite {
  display: block;
}

